.app {
  padding: 56px 0;
  background-color: #f0f1f6;
}

.container-app {
  padding: 42px;
  background-color: #fff;
  border-radius: 16px;
}

.app-content {
  display: flex;
  gap: 56px;
  justify-content: center;
  /* align-items: center; */
}

.app-content-image {
  overflow: hidden;
  width: 360px;
  height: 240px;
}

.app-content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.app-content-guide {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.ac-desc {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.ac-title {
  font-weight: 700;
  color: #1c1c1c;
}

.ac-sub {
  font-size: 16px;
  color: #777;
}

.app-store-wrap {
  display: flex;
  gap: 8px;
}

.app-store-box {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #dee2e6;
  gap: 12px;
  padding: 14px 40px;
  border-radius: 8px;
}

.app-store-images {
  width: 24px;
  height: 24px;
}

.app-store-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
