.pick {
  background-color: #f7f7ff;
  margin-top: 60px;
  margin-bottom: 64px;
}

.container-pick {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 24px;
  padding: 56px 16px;
}

.pick-title {
  font-weight: 700;
}

.pick-items {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  gap: 8px;
}

.pick-item > a {
  display: block;
  width: 242px;
  height: 351px;
}

.pick-itemA {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pick-img {
  width: 224px;
  height: 224px;
  overflow: hidden;
  border-radius: 8px;
}

.pick-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pick-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 4px;
}

.pick-desc-mini {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.desc-f {
  font-size: 11px;
  font-weight: 500;
  padding: 6px 0;
}

.desc-f > .test {
  border-radius: 6px;
  padding: 6px;
  color: #6e3fd3;
  background-color: #eae6fb;
}

.desc-m {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.7px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.desc-l {
  font-size: 17px;
  font-weight: 600;
}
